.rooms--list {

    .counter {
        margin-bottom:2rem;
        font-weight: lighter;
        font-size: 15px;
    }

    .rooms_grid {
    
        @media (min-width: 1000px) {
            padding: 0;
            gap: 1rem;
            grid-template-columns: repeat(1, 1fr);
        }
    
        @media (min-width: 1350px) {
            gap: 2rem;
        }
    
        .rooms__card {
    
            @media (min-width:1000px){
                width: 950px;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                display: flex;
                align-items: center;
                max-height: 300px;
                box-shadow: 1px 1px 6px -4px black;
                border-radius: 0.4rem;
            }

            @media (min-width:1350px){
                width: 1200px;
            }
    
            &__icons {

                @media (min-width:1000px){
                    background-color: white;
                    box-shadow: 0px 1px 6px -5px black;
                    padding: 1rem;
                    translate: unset;
                    position: absolute;
                    top: 15px;
                    left: 39.5%;
                    margin: auto;
                }

                @media (min-width:1350px){
                    left: 31.5%;
                }
            }
    
            img {

                @media (min-width:1000px){
                    max-width: 350px;
                    height: 240px;
                }
            }
    
            &__info {

                @media (min-width:1000px){
                    margin: 1rem 0;
                    height: 100%;
                    display: grid;
                    gap: 2rem;
                    grid-template-columns: 70% 30%;
                    text-align: left;
                    align-items: center;
                    translate: 2% 0%;
                }
    
                &__description {
    
                    &--title {
    
                        @media (min-width: 1000px) {
                            max-height: 100px;
                        }
                    }
    
                    &--description {
    
                        @media (min-width: 1000px) {
                            padding: 0 1rem 0 0;
                        }
                    }
                }

                &__price {

                    @media (min-width: 1000px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-right: 5rem;
                        width: max-content
                    }

                    &--price {

                        @media (min-width: 1000px) {
                            margin-bottom: 1.5rem;
                        }
                    }

                    &--button {
                        
                        @media (min-width: 1000px) {
                            width: max-content
                        }
                    }
                }
            }
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
        margin-bottom: 6rem;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-pagination {
        display: block;
        margin-bottom: 2rem;
    }

    .swiper-pagination-bullet {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        text-align: center;
        margin: auto 0;
        line-height: 20px;
        font-size: 20px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
    }

    .swiper-pagination-bullet-active {
        color: #fff;
        background: #007aff;
    }

}