.room-details {

    .section-header {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;

        .subtitle {
            width: 95%;
            color: black;
            font-family: Old Standard TT;
            font-weight: 400;
            font-size: 35px;
            letter-spacing: -2.40px;
            
            @media (min-width: 1000px) {
                width: 85%;
            }
        }
    }

    .main {
        padding: 0rem 0rem 0rem 0rem;
        margin-top: 2rem;

        @media (min-width: 1000px) {
            margin-top: unset;
            padding-top: unset;
            width: 30%;
        }
    
        &__form {
            padding: unset;
            background-color: unset;

            @media (min-width: 1000px) {
                padding: 1rem 0rem 1rem 1rem;
            }
    
            @media (min-width: 1350px) {
                padding: 1rem 0rem 1rem 1rem;
            }

            #check-availability-form {
                display: block;

                h4 {
                    text-align: center;
                    margin-bottom: 1.5rem;

                    @media (min-width: 1000px) {
                        font-size: 22px;
                        width: 17rem;
                        margin-bottom: 2rem;
                    }
                }

                .input--container {
                    padding: unset;
                    margin-bottom: 1rem;
                    margin-right: unset;

                    label {
                        font-size: 14px;
                    }

                    .input {
                        margin-top: 0.2rem;
                        background-color: #F8F8F8;
                        padding: 1rem 1rem 1rem 1rem;
                        border: unset;
                        background-position: 90%;
                        border: 1px solid transparent;
                        
                        &:hover {
                            cursor: text;
                        }

                        &:focus, &:focus-visible, &:active {
                            outline: none;
                            border: 1px solid #BEAD8E;
                            box-shadow: 2px 2px 5px -3px black;
                        }
                    }

                    .no-bg {
                        background-image: unset;
                    }
                }

                .submit {
                    margin-left: unset;
                    width: 100%;

                    &:hover{
                        filter: hue-rotate(45deg);
                    }

                    @media (min-width: 1000px) {
                        width: 17rem;
                    }
                }
            }

            .input--text {
                color: black!important;
            }
        }

    }

    &__room-content {
        padding: 1rem;
        width: 100%;
        margin-top: 0;

        @media (min-width: 1000px) {
            display: flex;
            gap: 5rem;
            // justify-content: center;
            margin: 1rem auto 2rem auto;
            width: 82vw;
            align-items: center;
        }

        .info {
            position: relative;

            @media (min-width: 1000px) {
                margin-top: 1.5rem;
                width: 70%;
            }
            
            .info_container {
                display: block;
                align-items: center;
                width: 100%;
                background-color: white;
    
                @media (min-width: 1000px) {
                    width: 95%;
                    padding: 1rem 2rem;
                    position: absolute;
                    top: -1rem;
                    left: 0px;
                    display: flex;
                    justify-content: space-between;
                    gap: 1rem;
                    box-shadow: 3px 3px 4px -3px black;
                }

                @media (min-width: 1350px) {
                    gap: 2rem;
                }


                h5 {
                    font-family: Archivo;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 15.23px;
                    color: #777777;
                    letter-spacing: 2.799999952316284px;
                    margin-bottom: 0.5rem;
                }

                h2 {
                    font-family: Old Standard TT;
                    font-size: 38px;
                    font-weight: 400;
                    line-height: 48px;
                    letter-spacing: -1.440000057220459px;

                    @media (min-width: 1000px) {
                        font-size: 32px;
                    }

                    @media (min-width: 1350px) {
                        font-size: 44px;
                    }
                }

                .price {
                    display: flex;
                    margin-bottom: 1rem;

                    @media (min-width: 1000px) {
                        margin-bottom: unset;
                    }

                    p, small {
                        color: #BEAD8E;
                        font-family: Archivo;
                    }

                    p {
                        font-family: Archivo;
                        font-size: 32px;
                        font-weight: 700;
                        line-height: 43px;

                        @media (min-width: 1000px) {
                            font-size: 25px;
                        }

                        @media (min-width: 1350px) {
                            font-size: 30px;
                        }
                    }

                    small {
                        font-family: Archivo;
                        font-size: 13px;
                        font-weight: 700;
                        line-height: 43px;
                    }
                }
            }
    
            img {
                width: 100%;
                max-height: 350px;
                object-fit: cover;
                object-position: center;
                aspect-ratio: 16/9;

                @media (min-width: 1000px) {
                    // height: 25rem;
                    width: 100%;
                    max-height: unset;
                }
            }
        }

    }

    .info-container {
        display: flex;
        width: 100%;
        padding: 0 1rem 0 1rem;
        flex-direction: column;
        margin: 2rem auto;

        @media (min-width: 1000px) {
            margin: 2rem auto;
            width: 85vw;
        }

        @media (min-width: 1350px) {
            margin: 2rem auto;
            width: 70vw;
        }

        // p {
            
        // }
    }

    .room-description {
        margin-top: 3rem;
        margin-bottom: 3rem;

        @media (min-width: 1000px) {
            margin-bottom: 4rem;
        }

        p {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #777777;

            @media (min-width: 1000px) {
                
            }
        }
    }

    .amenities {
        h4 {
            font-family: Old Standard TT;
            font-size: 30px;
            font-weight: 400;
            line-height: 30px;
            color: #222222;
        }

        hr {
            background-color: #f1f1f1;
            height: 1px;
            border: 0;
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
        }

        .amenities-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 0.5rem;
            gap: 1.5rem;

            @media (min-width: 1000px) {
                margin-top: 1rem;
                grid-template-columns: repeat(3, 1fr);
            }

            .amenity {
                display: flex;
                align-items: center;
                gap: 1rem;

                i {
                    color: #BEAD8E;
                }

                p {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 18.75px;
                    color: #777777;

                    @media (min-width: 1000px) {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .graphic {
        margin: 5rem 0 5rem 0;

        @media (min-width: 1000px) {
            margin: 6rem auto;
            width: 85vw;
        }

        @media (min-width: 1350px) {
            margin: 6rem auto;
            width: 70vw;
        }
        
        .container {
            
            @media (min-width: 1000px) {
                width: 20rem;
                padding: 2rem 2rem;
                box-shadow: 0px 14px 24px 0px #BEAD8E45;
            }

            .image {
                text-align: center;
                margin-bottom: 2rem;
                
                .circle {
                    position: relative;
                    display: inline-block;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    background-color: #D5D5D5;
                }

                .check {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid white;
                    width: 30px;
                    height: 30px;
                    top: 4%;
                    left: 75%;
                    border-radius: 50%;
                    font-size: 30px;
                    background-color: #BDAC8D;
                    color: white;
                    
                    i {
                        font-size: 15px;
                        font-weight: 600;
                    }
                }
            }

            .name {
                text-align: center;
                margin: 1rem 0 2rem 0;

                h4 {
                    font-family: Old Standard TT;
                    font-size: 30px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: -0.8px;        
                    color: #222222;
                    margin-bottom: 0.5rem;
                }

                small {
                    font-family: Archivo;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 15.23px;
                    letter-spacing: 2.8px;
                    color: #BDAC8D;
                    text-transform: uppercase;
                }
            }

            .text {
                text-align: center;
                font-family: Archivo;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: #777777;
            }
        }
    }

    .cancelation {

        @media (min-width: 1000px) {
            margin-bottom: 5rem;
        }

        h4 {
            font-family: Old Standard TT;
            font-size: 30px;
            font-weight: 400;
            line-height: 30px;
            color: #222222;
        }

        hr {
            background-color: #f1f1f1;
            height: 1px;
            border: 0;
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
        }

        p {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #777777;
        }
    }

    .swiper--bg {
        margin-top: 3rem;
        padding-bottom: 3rem;
        
        #rooms-swiper-normal {
            position: relative;
            
            @media (min-width: 1000px) {
                width: 85vw;
                margin: auto;
            }

            .slide-title {
                display: initial;

                .slide-title--group {
                    translate: 0 1rem;

                    @media (min-width: 1000px) {
                        translate: 0 20rem;
                        margin: 0 1rem 0 1rem;
                    }

                    @media (min-width: 1350px) {
                        margin: 0 3rem 0 3rem;
                    }
                }
            }

            .slide-title--group, .slide-info {
                background-color: #fff;
            }
            
            .slide-info {
                margin-top: 0;
                box-shadow: unset;
                translate: unset;
                margin-bottom: 1rem;

                @media (min-width: 1000px) {
                    margin-top: 1rem;
                }
            }

            .description {
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                flex-direction: column;

                @media (min-width: 1000px) {
                    max-width: 64rem;
                    margin: 1rem auto;
                }
            }

            .swiper-button-next {
                top: 30%;
                
                @media (min-width: 1000px) {
                    top: 28%;
                }
            }

            .swiper-button-prev {
                top: 30%;

                @media (min-width: 1000px) {
                    top: 28%;
                    left: var(--swiper-navigation-sides-offset, 26%);
                }

                @media (min-width: 1350px) {
                    left: var(--swiper-navigation-sides-offset, 27%);
                }
            }
        }

        #rooms-swiper-normal .slide-title, #rooms-swiper-normal .slide-info {
            opacity: 1;
        }

        #rooms-swiper-normal .slide-title {
            background-color: #222222;
        }

    }

}