#coreFeatures-swipper-black {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1000px) {
        margin-top: 6rem;
    }

    .swiper-slide {
    
        @media (min-width: 1000px) {
            margin-right: 10rem;
        }
    }

    .swiper-pagination {
        

        @media (min-width: 1000px) {
            display: none;
        }
    }

    .swiper-pagination-bullet {
        background-color: $main;
    }

    .float {
        font-family: Archivo;
        font-weight: 700;
        font-size: 100px;
        color: #2222220A;
        position: absolute;
        height: 100px;
        top: -13px;
        left: 54%;

        @media (min-width: 1000px) {
            height: 229px;
            top: 0px;
            left: 37%;
        }

        @media (min-width: 1350px) {
            top: 0px;
            left: 43%;
        }
    }

    .swipper-title {

        .coreFeatures--title {
            font-family: Archivo;
            font-weight: 700;
            font-size: 14px;
            color: #777777;
            margin-left: 1rem;
            margin-bottom: 1.5rem;
            text-align: center;
            letter-spacing: 2.8px;

            @media (min-width: 1000px) {
                margin-left: 0;
            }
        }

        .bigText {
            font-family: $font-standard;
            font-weight: 400;
            font-size: 56px;
            margin-left: 1rem;
            margin-bottom: 1.5rem;
            color: $mainBlack;
            text-align: center;

            @media (min-width: 1000px) {
                font-size: 80px;
                margin-left: 0;
            }
        }
    }

    .swiper-wrapper {
        padding-bottom: 3rem;
    }

    .coreFeatures-swipper--content {
        margin: 0 20px;

        @media (min-width: 1000px) {
            margin: 0;
        }

        .swiper--item {
            margin-bottom: 1rem;

            .img {
                padding: 5rem 0 2rem 1rem;
                display: block;
            }

            .swipper--title, .swipper--subtitle {
                display: block;
                padding-left: 1rem;
            }

            .swipper--title {
                font-family: $font-standard;
                font-weight: 400;
                font-size: 30px;
                color: $mainBlack;
                margin-bottom: 0.5rem;
            }

            .swipper--subtitle {
                font-family: Roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: $mainBlack;
            }
        }
    }
}