#rooms-swiper, #rooms-swiper-normal {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0 1rem 0rem 1rem;
    overflow: hidden;

    @media (min-width: 1000px) {
        padding: 0 0rem 5rem 0rem;
        width: 100vw;
        margin-top: 0;
        padding-bottom: 0;
    }

    .swipe-wrapper {
        height: 65vh;

        @media (min-width: 1000px) {
            
        }
    }

    .swiper-slide {
        font-size: 18px;
        background: #fff;
        overflow: hidden;
    }

    .swiper-slide img {
        width: 100%;
        height: 45vh;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;

        @media (min-width: 1000px) {
            width: 100%;
            max-height: 300px;
            object-fit: cover;
        }
    }
    
    .swiper-button-prev {
        position: absolute;
        right: unset;
        left: 30px;
        top: 43%;
        
        @media (min-width: 1000px) {
            top: 43%;
            left: var(--swiper-navigation-sides-offset, 27%);
        }

        @media (min-width: 1350px) {
            top: 45%;
            left: var(--swiper-navigation-sides-offset, 28%);
        }
    }
    
    .swiper-button-prev.swiper-button-disabled {
        opacity: 0.7;
    }
    
    .swiper-button-next {
        position: absolute;
        left: unset;
        right: 30px;
        top: 43%;
    
        @media (min-width: 1000px) {
            top: 43%;
            right: var(--swiper-navigation-sides-offset, 26%);
        }

        @media (min-width: 1350px) {
            top: 45%;
            right: var(--swiper-navigation-sides-offset, 27%);
        }
    }

    .slide-title, .slide-info {
        opacity: 0;
    }

    .slide-title {

        &--group {
            background-color: white;
            width: auto;
            padding: 0.5rem;
            margin: 0 3rem 0 3rem;
            translate: 0% 50%;
            box-shadow: 0px 2px 10px -5px black;
            min-height: 37px;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 12px;
                color: $mainBlack;
                
                &:not(:last-child) {
                    letter-spacing: 12px;
                }
            }
        }
    }

    .slide-info {
        background-color: white;
        text-align: center;
        width: auto;
        padding: 1rem 1rem 0.5rem 1rem;
        margin: 0 1.5rem 0 1.5rem;
        box-shadow: 0px 2px 10px -5px black;
        translate: 0% -12%;

        .description {

            h2 {
                font-family: $font-standard;
                font-weight: 400;
                font-size: 28px;
                line-height: 36px;
                letter-spacing: -1.2px;
                color: $mainBlack;
            }

            p {
                font-family: Roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #777777;
                margin-top: 1rem;
            }
        }
        
        .price {

            h2, p {
                display: inline-block;
                font-family: Archivo;
                font-weight: 700;
                font-size: 32px;
                line-height: 43px;
                color: $main;
            }

            p {
                font-size: 13px;
            }
        }
    }
    
    .swiper-slide-active .slide-title, .swiper-slide-active .slide-info {
        opacity: 1;
        text-align: center;
    }
}