.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 99;
    padding: 0.5rem;
    transition: transform 0.25s ease-in-out;
    user-select: none;

    @media (min-width: 1000px) {
        display: flex;
        justify-content: center;
        height: 8%;
        background-color: $mainBlack;
    }

    &__slogan {
        font-family: Roboto;
        font-weight: 300;
        font-size: 15px;
        position: absolute;
        top: 8px;
        left: 12.5%;
        color: white;
        z-index: 1;
    }

    &__nav {
        display: flex;
        height: 3.75rem;
        align-items: center;
        padding: 3% 5%;
        background-color: #ffffff;
        width: 100%;
        overflow: hidden;

        @media (min-width: 1000px) {
            width: 75%;
            height: 5rem;
            padding: 1.5% 5% 1.5% 0.8rem;
            position: absolute;
            top: 2rem;
            box-shadow: 0px 2px 10px -5px black;
        }

        #header__menu-toggle {
            display: none;
        }

        .header__menu--container {
            display: flex;
            height: 30px;
            width: 30px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            
            @media (min-width: 1000px) {
                display: none;
            }

            .menu-button,
            .menu-button::before,
            .menu-button::after {
                display: block;
                background-color: black;
                position: absolute;
                height: 2.5px;
                width: 30px;
                border-radius: 2px;
            }

            .menu-button::before {
                content: '';
                margin-top: -8px;
            }

            .menu-button::after {
                content: '';
                margin-top: 9px;
            }
        }

        .nav__logo--container {
            width: 100%;
            margin-right: 2rem;
            display: flex;
            align-items: center;
            translate: 1.9rem 0%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            @media (min-width: 1000px) {
                translate: unset;
                width: unset;
                margin-right: 5rem;
            }

            @media (min-width: 1350px) {
                margin-right: 5rem;
            }

            &--a {
                text-decoration: none;
                color: black;
                display: flex;
                align-items: center;


                &--img {
                    display: inline-block;
                    cursor: pointer;
                    height: 2.2rem;
                    box-shadow: 0px 4px 12px -5px grey;
    
                    @media (min-width: 1000px) {
                        margin-left: 0;
                        height: 3.2rem;
                    }
                }
    
                &--text--container {
                    cursor: pointer;
                    margin-left: 1rem;
    
                    h2 {
                        font-size: 1rem;
                        font-family: Archivo;
    
                        @media (min-width: 1000px) {
                            font-size: 1.2rem;
                        }
                    }
            
                    .header__logo--title {
                        font-weight: 800;
                    }
                    
                    .header__logo--subtitle {
                        font-weight: 400;
                    }
                }
            }
            
        }

        .header__nav--list {
            background-color: white;
            box-shadow: 0px 10px 10px -10px black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            top: 0;
            left: 0;
            list-style-type: none;
            margin-top: 4.5rem;
            padding: 0;
            position: absolute;
            width: 100%;
    
            @media (min-width: 1000px) {
                // width: 95%;
                display: unset;
                flex-direction: row;
                box-shadow: none;
                margin-top: 0;
                position: unset;
            }

            .header__nav--item {
                display: flex;
                width: 100%;
                background-color: white;
                overflow: hidden;
                text-align: left;

                @media (min-width: 1000px) {
                    display: unset;
                    margin: 0 1rem;
                }
            }

            .header__nav-link {
                position: relative;
                font-family: Archivo;
                font-weight: 600;
                font-size: 16px;
                text-decoration: none;
                color: black;
                transition: color 0.3s ease;
        
                @media (min-width: 1000px) {
                    font-size: 14px;
                    margin-right: 1rem;
                }

                @media (min-width: 1350px) {
                    font-size: 14px;
                    margin-right: 2rem;
                }
        
                &:hover {
                    color: #c9b395;
                }
            }
        }

        .header__nav--icons {
            width: 55%;
            text-align: right;
            
            @media (min-width: 1000px) {
                margin-left: 1rem;
                width: 35%;
            }
        }

        .header__nav--icons>img {
            height: 20px;
            display: inline-block;
            list-style: none;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 1.4rem;
            }

            @media (min-width: 1000px) {
                height: 40px;
                border: 1px solid lightgrey;
                padding: 0.5rem;
            }

        }
    }

    #header__menu-toggle:checked+.header__menu--container .menu-button::before {
        margin-top: 0px;
        transition: transform .3s ease;
        transform: rotate(45deg);
    }

    #header__menu-toggle:checked+.header__menu--container .menu-button {
        background: rgba(255, 255, 255, 0);
    }

    #header__menu-toggle:checked+.header__menu--container .menu-button::after {
        margin-top: 0px;
        transition: transform .3s ease;
        transform: rotate(135deg);
    }

    #header__menu-toggle~.header__nav--list li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;

        @media (min-width: 1000px) {
            height: unset;
        }
    }

    #header__menu-toggle:checked~.header__nav--list li {
        height: 2.5em;
        padding: 0.5rem 0 0.5rem 1.8rem;
        
        a {
            font-size: 16px;
            color: black;
            font-family: Archivo;
            font-weight: 800;
        }
    }
}